<a href="https://colab.research.google.com/github/wa-le/Quantium-Forage-Virtual-Internship/blob/master/my_quantium_T2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[ipynb file here](https://github.com/wa-le/Quantium-Forage-Virtual-Internship/blob/master/my_quantium_T2.ipynb)

In [ ]:
!pip install squarify

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
import squarify as sq

In [10]:
# import and load the dataset
data = pd.read_csv("/content/drive/MyDrive/Data/Quantium Forage/chips_trans.csv")
data

,Unnamed: 0,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,PACK_SIZE,BRAND_NAME,DATE_BINS
0,0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,175g,Natural Chip Co,October 2018
1,1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,175g,CCs,May 2019
2,2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget,170g,Smiths,May 2019
3,3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget,175g,Smiths,August 2018
4,4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget,150g,Kettle,August 2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264828,264828,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,YOUNG SINGLES/COUPLES,Premium,175g,Kettle,March 2019
264829,264829,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4,YOUNG SINGLES/COUPLES,Premium,175g,Tostitos,August 2018
264830,264830,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8,YOUNG SINGLES/COUPLES,Premium,170g,Doritos,November 2018
264831,264831,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8,YOUNG SINGLES/COUPLES,Premium,150g,Doritos,December 2018
264832,264832,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8,YOUNG SINGLES/COUPLES,Premium,175g,Tostitos,September 2018

In [14]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [20]:
data.rename(columns = {'DATE_BINS':'MONTH_BINS'}, inplace = True)

In [22]:
# using the copy of the dataframe
df1 = data.copy()

In [23]:
df1[data["STORE_NBR"] == 77]
df1[data["STORE_NBR"] == 86]
df1[data["STORE_NBR"] == 88]

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,PACK_SIZE,BRAND_NAME,MONTH_BINS
69,2019-05-20,88,88320,87811,113,Twisties Chicken270g,2,9.2,MIDAGE SINGLES/COUPLES,Budget,270g,Twisties,May 2019
1641,2018-09-12,88,88000,86220,4,Dorito Corn Chp Supreme 380g,2,13.0,MIDAGE SINGLES/COUPLES,Budget,380g,Doritos,September 2018
1642,2018-10-26,88,88000,86221,31,Infzns Crn Crnchers Tangy Gcamole 110g,2,7.6,MIDAGE SINGLES/COUPLES,Budget,110g,Infuzions,October 2018
1643,2019-02-02,88,88000,86222,46,Kettle Original 175g,2,10.8,MIDAGE SINGLES/COUPLES,Budget,175g,Kettle,February 2019
1644,2019-05-01,88,88000,86223,47,Doritos Corn Chips Original 170g,2,8.8,MIDAGE SINGLES/COUPLES,Budget,170g,Doritos,May 2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260700,2018-08-22,88,88132,86877,23,Cheezels Cheese 330g,2,11.4,YOUNG SINGLES/COUPLES,Premium,330g,Cheezels,August 2018
260701,2018-10-20,88,88142,86920,63,Kettle 135g Swt Pot Sea Salt,2,8.4,YOUNG SINGLES/COUPLES,Premium,135g,Kettle,October 2018
260702,2018-10-23,88,88142,86921,2,Cobs Popd Sour Crm &Chives Chips 110g,2,7.6,YOUNG SINGLES/COUPLES,Premium,110g,Cobs,October 2018
260703,2019-01-23,88,88142,86922,49,Infuzions SourCream&Herbs Veg Strws 110g,2,7.6,YOUNG SINGLES/COUPLES,Premium,110g,Infuzions,January 2019
260704,2019-05-02,88,88142,86923,34,Pringles Slt Vingar 134g,2,7.4,YOUNG SINGLES/COUPLES,Premium,134g,Pringles,May 2019