<a href="https://colab.research.google.com/github/wa-le/Quantium-Forage-Virtual-Internship/blob/master/my_quantium_T2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[ipynb file here](https://github.com/wa-le/Quantium-Forage-Virtual-Internship/blob/master/my_quantium_T2.ipynb)

In [1]:
!pip install squarify

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Installing collected packages: squarify
Successfully installed squarify-0.4.3

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
import squarify as sq

In [3]:
# import and load the dataset
data = pd.read_csv("/content/drive/MyDrive/Data/Quantium Forage/chips_trans.csv")
data

,Unnamed: 0,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,PACK_SIZE,BRAND_NAME,DATE_BINS
0,0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,175g,Natural Chip Co,October 2018
1,1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,175g,CCs,May 2019
2,2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget,170g,Smiths,May 2019
3,3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget,175g,Smiths,August 2018
4,4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget,150g,Kettle,August 2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264828,264828,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,YOUNG SINGLES/COUPLES,Premium,175g,Kettle,March 2019
264829,264829,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4,YOUNG SINGLES/COUPLES,Premium,175g,Tostitos,August 2018
264830,264830,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8,YOUNG SINGLES/COUPLES,Premium,170g,Doritos,November 2018
264831,264831,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8,YOUNG SINGLES/COUPLES,Premium,150g,Doritos,December 2018
264832,264832,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8,YOUNG SINGLES/COUPLES,Premium,175g,Tostitos,September 2018

In [4]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
data.rename(columns = {'DATE_BINS':'MONTH_BINS'}, inplace = True)

In [6]:
# using the copy of the dataframe
df1 = data.copy()

In [12]:
df1.head(3)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,PACK_SIZE,BRAND_NAME,MONTH_BINS
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,175g,Natural Chip Co,October 2018
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,175g,CCs,May 2019
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget,170g,Smiths,May 2019

In [13]:
df1.shape

(264833, 13)

In [ ]:
# Trial Stores - 77, 86, 88
# Control stores - stores in operation from July 2018 - June 2019
# Matching trial stores to control stores similar to the trial store prior to Feb 2019
# Pre trial period -> July 2018 till Jan 2019

In [24]:
# convert 'DATE' to datetime
df1['DATE'] =pd.to_datetime(df1['DATE'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264833 entries, 0 to 264832
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATE              264833 non-null  datetime64[ns]
 1   STORE_NBR         264833 non-null  int64
 2   LYLTY_CARD_NBR    264833 non-null  int64
 3   TXN_ID            264833 non-null  int64
 4   PROD_NBR          264833 non-null  int64
 5   PROD_NAME         264833 non-null  object
 6   PROD_QTY          264833 non-null  int64
 7   TOT_SALES         264833 non-null  float64
 8   LIFESTAGE         264833 non-null  object
 9   PREMIUM_CUSTOMER  264833 non-null  object
 10  PACK_SIZE         264833 non-null  object
 11  BRAND_NAME        264833 non-null  object
 12  MONTH_BINS        264833 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(6)
memory usage: 26.3+ MB

In [38]:
# added a YEARMONTH column
df1["YEAR_MONTH"] = pd.to_datetime(df1['DATE']).dt.to_period('M')
df1.head(5)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,PACK_SIZE,BRAND_NAME,MONTH_BINS,YEAR_MONTH
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,175g,Natural Chip Co,October 2018,2018-10
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,175g,CCs,May 2019,2019-05
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget,170g,Smiths,May 2019,2019-05
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget,175g,Smiths,August 2018,2018-08
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget,150g,Kettle,August 2018,2018-08

DEFINING MEASURES FOR ANALYSIS

In [76]:
# measure calculations to use for our analysis
total_sales = df1.groupby(['STORE_NBR', 'YEAR_MONTH'])["TOT_SALES"].sum().reset_index()
total_sales

      STORE_NBR YEAR_MONTH  TOT_SALES
0             1    2018-07      206.9
1             1    2018-08      176.1
2             1    2018-09      278.8
3             1    2018-10      188.1
4             1    2018-11      192.6
...         ...        ...        ...
3164        272    2019-02      395.5
3165        272    2019-03      442.3
3166        272    2019-04      445.1
3167        272    2019-05      314.6
3168        272    2019-06      312.1

[3169 rows x 3 columns]

In [81]:
no_of_customers = df1.groupby(['STORE_NBR', 'YEAR_MONTH',])["LYLTY_CARD_NBR"].count().reset_index()
no_of_customers

      STORE_NBR YEAR_MONTH  LYLTY_CARD_NBR
0             1    2018-07              52
1             1    2018-08              43
2             1    2018-09              62
3             1    2018-10              45
4             1    2018-11              47
...         ...        ...             ...
3164        272    2019-02              48
3165        272    2019-03              53
3166        272    2019-04              56
3167        272    2019-05              40
3168        272    2019-06              37

[3169 rows x 3 columns]

In [ ]:
##df1.groupby(['STORE_NBR', 'YEAR_MONTH'])["TOT_SALES"].agg(['count', 'min','max']).reset_index()

In [98]:
### cont here
trans_per_customer = df1.groupby(['STORE_NBR', 'YEAR_MONTH'])["LYLTY_CARD_NBR"].count().reset_index()
trans_per_customer

      STORE_NBR YEAR_MONTH  LYLTY_CARD_NBR
0             1    2018-07              52
1             1    2018-08              43
2             1    2018-09              62
3             1    2018-10              45
4             1    2018-11              47
...         ...        ...             ...
3164        272    2019-02              48
3165        272    2019-03              53
3166        272    2019-04              56
3167        272    2019-05              40
3168        272    2019-06              37

[3169 rows x 3 columns]

In [82]:
df1.head(1)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,PACK_SIZE,BRAND_NAME,MONTH_BINS,YEAR_MONTH
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,175g,Natural Chip Co,October 2018,2018-10

In [7]:
# Trial stores
store_77 = df1[df1["STORE_NBR"] == 77]
store_86 = df1[df1["STORE_NBR"] == 86]
store_88 = df1[df1["STORE_NBR"] == 88]

In [8]:
# checking unique months

display(pd.unique(store_77["MONTH_BINS"]))
print("")
display(pd.unique(store_86["MONTH_BINS"]))
print("")
display(pd.unique(store_88["MONTH_BINS"]))

array(['June 2019', 'March 2019', 'April 2019', 'July 2018',
       'February 2019', 'October 2018', 'September 2018', 'August 2018',
       'December 2018', 'November 2018', 'May 2019', 'January 2019'],
      dtype=object)

array(['January 2019', 'February 2019', 'March 2019', 'May 2019',
       'November 2018', 'December 2018', 'April 2019', 'September 2018',
       'October 2018', 'July 2018', 'June 2019', 'August 2018'],
      dtype=object)

array(['May 2019', 'September 2018', 'October 2018', 'February 2019',
       'August 2018', 'November 2018', 'December 2018', 'April 2019',
       'June 2019', 'July 2018', 'March 2019', 'January 2019'],
      dtype=object)

In [9]:
display(pd.unique(df1["STORE_NBR"]))
len(pd.unique(df1["STORE_NBR"]))

array([  1,   2,   4,   5,   7,   8,   9,  13,  19,  20,  22,  23,  25,
        33,  36,  38,  39,  41,  43,  45,  51,  54,  55,  56,  58,  59,
        60,  62,  63,  67,  71,  72,  74,  75,  80,  81,  82,  83,  84,
        88,  94,  96,  97, 101, 102, 104, 106, 109, 110, 111, 112, 114,
       115, 116, 118, 119, 120, 122, 125, 128, 129, 130, 133, 149, 151,
       152, 153, 156, 157, 160, 161, 164, 166, 167, 168, 169, 172, 173,
       175, 178, 181, 184, 186, 187, 191, 194, 196, 197, 200, 205, 207,
       208, 209, 212, 214, 215, 216, 217, 219, 222, 223, 225, 226, 227,
       235, 236, 237, 241, 243, 246, 247, 248, 250, 253, 255, 256, 257,
       262, 265, 266, 269, 271,  77,   3,   6,  10,  12,  15,  16,  17,
        18,  21,  24,  26,  27,  28,  29,  30,  32,  34,  35,  37,  40,
        46,  47,  48,  49,  50,  52,  53,  57,  61,  64,  65,  66,  68,
        69,  70,  73,  78,  79,  86,  87,  89,  90,  91,  93,  95,  98,
       100, 103, 105, 107, 108, 113, 117, 121, 123, 124, 126, 127, 131,
       132, 134, 135, 136, 137, 138, 140, 141, 142, 143, 144, 145, 147,
       148, 150, 154, 155, 158, 162, 163, 165, 170, 171, 174, 176, 177,
       179, 180, 182, 183, 185, 188, 189, 190, 192, 195, 199, 201, 202,
       203, 210, 213, 218, 220, 221, 224, 228, 229, 230, 231, 232, 233,
       234, 238, 239, 240, 242, 244, 245, 249, 251, 254, 259, 260, 261,
       263, 264, 267, 268, 270, 272,  14,  42,  44,  92,  99, 139, 146,
       159, 198, 204, 258, 211,  31,  85,  76,  11, 252, 193, 206])

272

In [10]:
a = pd.unique(df1["STORE_NBR"])

def find_str():
  for i in a:
    print(f"This is for store number {i}")
    print(df1[df1['STORE_NBR'] == i])
    print(" ")

In [11]:
#find_str()