<a href="https://colab.research.google.com/github/wa-le/Quantium-Forage-Virtual-Internship/blob/master/my_quantium_T2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[ipynb file here](https://github.com/wa-le/Quantium-Forage-Virtual-Internship/blob/master/my_quantium_T2.ipynb)

In [1]:
!pip install squarify

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: squarify in /usr/local/lib/python3.8/dist-packages (0.4.3)

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as mn
sns.set()
%matplotlib inline
import squarify as sq

from statistics import stdev
from scipy.stats import t

In [3]:
# import and load the dataset
data = pd.read_csv("/content/drive/MyDrive/Data/Quantium Forage/chips_trans.csv")
data

,Unnamed: 0,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,PACK_SIZE,BRAND_NAME,DATE_BINS
0,0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,175g,Natural Chip Co,October 2018
1,1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,175g,CCs,May 2019
2,2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget,170g,Smiths,May 2019
3,3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget,175g,Smiths,August 2018
4,4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget,150g,Kettle,August 2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264828,264828,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,YOUNG SINGLES/COUPLES,Premium,175g,Kettle,March 2019
264829,264829,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4,YOUNG SINGLES/COUPLES,Premium,175g,Tostitos,August 2018
264830,264830,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8,YOUNG SINGLES/COUPLES,Premium,170g,Doritos,November 2018
264831,264831,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8,YOUNG SINGLES/COUPLES,Premium,150g,Doritos,December 2018
264832,264832,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8,YOUNG SINGLES/COUPLES,Premium,175g,Tostitos,September 2018

In [4]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
data.drop(['DATE_BINS'], axis=1, inplace=True)

In [6]:
#data.rename(columns = {'DATE_BINS':'MONTH_BINS'}, inplace = True)

In [7]:
# using the copy of the dataframe
df1 = data.copy()

In [8]:
df1.head(3)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,PACK_SIZE,BRAND_NAME
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,175g,Natural Chip Co
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,175g,CCs
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget,170g,Smiths

In [9]:
# convert 'DATE' to datetime
df1['DATE'] =pd.to_datetime(df1['DATE'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264833 entries, 0 to 264832
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATE              264833 non-null  datetime64[ns]
 1   STORE_NBR         264833 non-null  int64
 2   LYLTY_CARD_NBR    264833 non-null  int64
 3   TXN_ID            264833 non-null  int64
 4   PROD_NBR          264833 non-null  int64
 5   PROD_NAME         264833 non-null  object
 6   PROD_QTY          264833 non-null  int64
 7   TOT_SALES         264833 non-null  float64
 8   LIFESTAGE         264833 non-null  object
 9   PREMIUM_CUSTOMER  264833 non-null  object
 10  PACK_SIZE         264833 non-null  object
 11  BRAND_NAME        264833 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(5)
memory usage: 24.2+ MB

In [10]:
df1.shape

(264833, 12)

In [11]:
# check null values in df1
display(df1.isnull().sum())

DATE                0
STORE_NBR           0
LYLTY_CARD_NBR      0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
PACK_SIZE           0
BRAND_NAME          0
dtype: int64

**SELECT CONTROL STORES**

* Trial Stores - 77, 86, 88
* Control stores - stores in operation from July 2018 - June 2019
* Matching trial stores to control stores similar to the trial store prior to
  Feb 2019

  * Monthly overall sales revenue
  * Monthly number of customers
  * Monthly number of transactions per customer

Pre trial period -> July 2018 till Jan 2019

In [21]:
df2["DATE"].describe()

count                  264833
unique                    364
top       2018-12-24 00:00:00
freq                      939
first     2018-07-01 00:00:00
last      2019-06-30 00:00:00
Name: DATE, dtype: object

In [23]:
# add a YEARMONTH column
df1["YEARMONTH"] = [pd.to_numeric("".join(str(ym).split('-')[0:2])) for ym in df1['DATE']]
df1

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,PACK_SIZE,BRAND_NAME,YEARMONTH
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,175g,Natural Chip Co,201810
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,175g,CCs,201905
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget,170g,Smiths,201905
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget,175g,Smiths,201808
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget,150g,Kettle,201808
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264828,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,YOUNG SINGLES/COUPLES,Premium,175g,Kettle,201903
264829,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4,YOUNG SINGLES/COUPLES,Premium,175g,Tostitos,201808
264830,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8,YOUNG SINGLES/COUPLES,Premium,170g,Doritos,201811
264831,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8,YOUNG SINGLES/COUPLES,Premium,150g,Doritos,201812
264832,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8,YOUNG SINGLES/COUPLES,Premium,175g,Tostitos,201809

DEFINING MEASURES FOR ANALYSIS

In [24]:
# measure calculations to use for our analysis
total_sales = df1.groupby(['STORE_NBR', 'YEARMONTH'])["TOT_SALES"].sum().reset_index()
total_sales

      STORE_NBR  YEARMONTH  TOT_SALES
0             1     201807      206.9
1             1     201808      176.1
2             1     201809      278.8
3             1     201810      188.1
4             1     201811      192.6
...         ...        ...        ...
3164        272     201902      395.5
3165        272     201903      442.3
3166        272     201904      445.1
3167        272     201905      314.6
3168        272     201906      312.1

[3169 rows x 3 columns]

In [27]:
no_of_customers = df1.groupby(['STORE_NBR', 'YEARMONTH'])["LYLTY_CARD_NBR"].count().reset_index()
no_of_customers

      STORE_NBR  YEARMONTH  LYLTY_CARD_NBR
0             1     201807              52
1             1     201808              43
2             1     201809              62
3             1     201810              45
4             1     201811              47
...         ...        ...             ...
3164        272     201902              48
3165        272     201903              53
3166        272     201904              56
3167        272     201905              40
3168        272     201906              37

[3169 rows x 3 columns]

In [ ]:
##df1.groupby(['STORE_NBR', 'YEAR_MONTH'])["TOT_SALES"].agg(['count', 'min','max']).reset_index()

In [ ]:
df1.head(1)